In [1]:
import os
import pathlib

import pandas as pd

In [2]:
p_project = str(pathlib.Path(os.getcwd()).parents[1])
os.chdir(p_project)

In [6]:
days_df=pd.read_csv(p_project + '/data/elise/Days.csv', sep=';')

In [7]:
days_df.shape

(30043, 2)

In [8]:
days_df.head()

         Messzeitpunkt  Patient_Master_ID
0  2247-09-11T00:00:00                946
1  2247-09-20T00:00:00                946
2  2247-09-23T00:00:00                946
3  2248-05-12T00:00:00                946
4  2248-05-13T00:00:00                946

In [9]:
days_df['Patient_Master_ID'].value_counts()

1349    296
2077    257
376     246
826     233
409     229
       ...
3274      1
1252      1
1275      1
1276      1
2850      1
Name: Patient_Master_ID, Length: 3519, dtype: int64

In [10]:
lookup_df=pd.read_csv(p_project + '/data/elise/Lookup.csv', sep=';')

In [11]:
lookup_df.head()

   ID  PMID    SMID
0   1   178  178001
1   2   179  179001
2   3   180  180001
3   4   181  181001
4   5   182  182001

In [12]:
lookup_df.shape

(4835, 3)

In [13]:
lookup_df['PMID'].value_counts()

489     21
427     18
363     16
679     12
987     12
        ..
1641     1
1643     1
1644     1
1646     1
3752     1
Name: PMID, Length: 3573, dtype: int64

In [14]:
patient_df=pd.read_csv(p_project + '/data/elise/Patient_Master_Data.csv', sep=';')

In [15]:
patient_df.head()

   PMID  Sex              DateOfBirth                DateOfDie
0  3246  1.0  2232-03-09 00:00:00.000  2245-06-26 18:23:00.000
1   822  2.0  2232-09-16 00:00:00.000                      NaN
2  2661  1.0  2234-07-08 00:00:00.000                      NaN
3  1717  2.0  2231-08-29 00:00:00.000                      NaN
4   961  1.0  2229-09-14 00:00:00.000                      NaN