In [1]:
import os
import pathlib

p_project = str(pathlib.Path(os.getcwd()).parents[1])

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

import datetime
from datetime import timedelta

pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 300)

In [3]:
adm=pd.read_csv(p_project + "/data/mimic3/processed/admissions_processed.csv")

We now consider the labevents dataset. We select only the patients with the same criteria as above.

In [4]:
lab=pd.read_csv(p_project + "/data/mimic3/LABEVENTS.csv.gz", compression='gzip')

#Restrict the dataset to the previously selected admission ids only.
adm_ids=list(adm["HADM_ID"])
lab=lab.loc[lab["HADM_ID"].isin(adm_ids)]

print("Number of patients remaining in the database: ")
print(lab["SUBJECT_ID"].nunique())

Number of patients remaining in the database:
24642

We load the D_ITEMS dataframe which contains the name of the ITEMID. And we merge both tables together.

In [5]:
#item_id
item_id=pd.read_csv(p_project + "/data/mimic3/D_LABITEMS.csv.gz", compression='gzip')
item_id_1=item_id[["ITEMID","LABEL"]]
item_id_1.head()

#We merge the name of the item administrated.
lab2=pd.merge(lab,item_id_1,on="ITEMID")
lab2.head()
print("Number of patients remaining in the database: ")
print(lab2["SUBJECT_ID"].nunique())

Number of patients remaining in the database:
24642

In [6]:
#Only select the subset that was used in the paper (only missing is INR(PT))
subset=["Albumin","Alanine Aminotransferase (ALT)","Alkaline Phosphatase","Anion Gap","Asparate Aminotransferase (AST)","Base Excess","Basophils","Bicarbonate","Bilirubin, Total","Calcium, Total","Calculated Total CO2","Chloride","Creatinine","Eosinophils","Glucose","Hematocrit","Hemoglobin",
"Lactate","Lymphocytes","MCH","MCHC","MCV","Magnesium","Monocytes","Neutrophils","PT","PTT","Phosphate","Platelet Count","Potassium","RDW","Red Blood Cells","Sodium","Specific Gravity","Urea Nitrogen","White Blood Cells","pCO2","pH","pO2"]

lab3=lab2.loc[lab2["LABEL"].isin(subset)].copy()

print("Number of patients remaining in the database: ")
print(lab3["SUBJECT_ID"].nunique())

Number of patients remaining in the database:
24642

### Units Cleaning

#### 1) In amounts

In [7]:
#Verification that all input labels have the same amounts units.
print(lab3.groupby("LABEL")["VALUEUOM"].value_counts())

LABEL                            VALUEUOM
Alanine Aminotransferase (ALT)   IU/L         58702
Albumin                          g/dL         38849
Alkaline Phosphatase             IU/L         56854
Anion Gap                        mEq/L       262969
Asparate Aminotransferase (AST)  IU/L         58640
Base Excess                      mEq/L       229451
Basophils                        %            40307
Bicarbonate                      mEq/L       269058
Bilirubin, Total                 mg/dL        58906
Calcium, Total                   mg/dL       206907
Calculated Total CO2             mEq/L       219549
                                 MEQ/L         9888
Chloride                         mEq/L       276398
Creatinine                       mg/dL       278623
Eosinophils                      %            40917
Glucose                          mg/dL       404050
Hematocrit                       %           314183
Hemoglobin                       g/dL        309533
Lactate                          mmol/L       82200
Lymphocytes                      %            42692
MCH                              pg          256463
MCHC                             %           256525
MCV                              fL          256461
Magnesium                        mg/dL       249108
Monocytes                        %            42527
Neutrophils                      %            40187
PT                               sec         156084
                                 SECONDS      13196
PTT                              sec         181283
Phosphate                        mg/dL       208755
Platelet Count                   K/uL        266562
Potassium                        mEq/L       294384
RDW                              %           255920
Red Blood Cells                  m/uL        256466
Sodium                           mEq/L       280618
Specific Gravity                              38438
Urea Nitrogen                    mg/dL       277334
White Blood Cells                K/uL        258413
pCO2                             mm Hg       219613
                                 MM HG         9803
pH                               units       277845
                                 UNITS        11644
pO2                              mm Hg       219630
                                 MM HG         9803
Name: VALUEUOM, dtype: int64

In [8]:
#Correct the units
lab3.loc[lab3["LABEL"]=="Calculated Total CO2","VALUEUOM"]="mEq/L"
lab3.loc[lab3["LABEL"]=="PT","VALUEUOM"]="sec"
lab3.loc[lab3["LABEL"]=="pCO2","VALUEUOM"]="mm Hg"
lab3.loc[lab3["LABEL"]=="pH","VALUEUOM"]="units"
lab3.loc[lab3["LABEL"]=="pO2","VALUEUOM"]="mm Hg"

### Check for outliers

#### 1) In amounts

In [9]:
lab3.groupby("LABEL")["VALUENUM"].describe()

,count,mean,std,min,25%,50%,75%,max
LABEL,,,,,,,,
Alanine Aminotransferase (ALT),58697.0,215.854904,806.312662,0.000,21.00,40.000,96.00,25460.00
Albumin,38841.0,3.032422,0.692599,1.000,2.50,3.000,3.50,6.40
Alkaline Phosphatase,56854.0,140.733299,166.023159,0.000,66.00,94.000,151.00,4695.00
Anion Gap,262985.0,13.510965,3.626430,-6.000,11.00,13.000,15.00,67.00
Asparate Aminotransferase (AST),58640.0,238.205832,1034.628934,0.000,26.00,47.000,105.00,36400.00
Base Excess,229420.0,-0.036823,4.952865,-414.000,-2.00,0.000,2.00,162.00
Basophils,40307.0,0.294470,0.479617,0.000,0.00,0.200,0.40,40.00
Bicarbonate,269032.0,25.331971,4.684684,2.000,23.00,25.000,28.00,53.00
"Bilirubin, Total",58902.0,3.266241,6.579278,0.000,0.50,0.900,2.50,82.80
"Calcium, Total",206903.0,8.385096,0.788048,0.000,7.90,8.400,8.80,31.20
Calculated Total CO2,229424.0,25.860747,5.376984,0.000,23.00,26.000,29.00,231.00
Chloride,276398.0,104.081668,6.094401,39.000,100.00,104.000,108.00,155.00
Creatinine,278604.0,1.338756,1.338358,0.000,0.70,0.900,1.40,73.00
Eosinophils,40917.0,1.510272,2.867844,0.000,0.10,0.800,2.00,97.00
Glucose,375597.0,135.753870,71.823239,-251.000,102.00,122.000,150.00,2590.00
Hematocrit,314168.0,30.907744,5.143860,0.000,27.40,30.400,33.90,77.70
Hemoglobin,309501.0,10.517921,1.908861,0.000,9.20,10.300,11.60,130.00
Lactate,82178.0,2.573147,2.453338,0.100,1.20,1.800,2.90,36.00
Lymphocytes,42691.0,14.143646,12.980081,0.000,6.00,10.800,18.00,100.00
MCH,256335.0,30.277743,2.347358,0.000,29.10,30.400,31.60,48.00
MCHC,256473.0,33.800021,1.499505,0.000,32.80,33.900,34.80,40.00
MCV,256330.0,89.655073,6.268230,0.000,86.00,89.000,93.00,139.00
Magnesium,249108.0,2.050085,0.402021,0.000,1.80,2.000,2.20,37.50
Monocytes,42527.0,5.437320,6.245966,0.000,2.90,4.200,6.10,100.00
Neutrophils,40187.0,76.562849,16.081932,0.000,71.00,80.300,87.00,100.00
PT,169240.0,16.178007,6.985986,7.000,13.10,14.200,16.50,150.00
PTT,180824.0,44.016197,25.588037,0.150,27.80,33.800,51.70,162.60
Phosphate,208755.0,3.469544,1.278413,0.000,2.70,3.300,4.00,32.80
Platelet Count,266526.0,237.236079,144.958069,4.000,142.00,209.000,297.00,2813.00
Potassium,294288.0,4.084930,0.623810,0.800,3.70,4.000,4.40,97.00
RDW,255798.0,15.149707,2.133283,0.000,13.70,14.600,16.10,34.40
Red Blood Cells,256339.0,3.501608,0.629263,0.000,3.07,3.440,3.87,8.44
Sodium,280621.0,138.725947,5.036028,74.000,136.00,139.000,142.00,184.00
Specific Gravity,37421.0,1.016601,0.011108,0.015,1.01,1.015,1.02,1.08
Urea Nitrogen,277341.0,26.851235,21.664834,0.000,13.00,20.000,33.00,280.00
White Blood Cells,258372.0,11.484813,8.008693,0.100,7.60,10.300,13.80,600.20
pCO2,229404.0,41.768775,10.106151,0.000,36.00,40.000,46.00,247.00
pH,289764.0,7.185817,0.625004,0.940,7.31,7.380,7.43,10.00
pO2,229415.0,151.146717,101.833684,0.000,85.00,115.000,174.00,797.00

In [10]:
#Glucose : mettre -1 aux résultats négatifs et supprimer les autres entrées dont la valeur numérique est NaN.
lab3.loc[(lab3["LABEL"]=="Glucose")&(lab3["VALUENUM"].isnull())&(lab3["VALUE"]=="NEG"),"VALUENUM"]=-1
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Glucose")&(lab3["VALUENUM"].isnull())].index).copy()

#Retirer les entrées avec NaN aux values et valuenum
lab3=lab3.drop(lab3.loc[(lab3["VALUENUM"].isnull())&(lab3["VALUE"].isnull())].index).copy()

#Remove the remaining NAN Values
lab3=lab3.drop(lab3.loc[(lab3["VALUENUM"].isnull())].index).copy()

#Remove anion gaps lower than 0
lab3=lab3.drop(lab3.loc[(lab3["VALUENUM"]<0)&(lab3["LABEL"]=="Anion Gap")].index).copy()

#Remove BE <-50
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Base Excess")&(lab3["VALUENUM"]<-50)].index).copy()
#Remove BE >50
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Base Excess")&(lab3["VALUENUM"]>50)].index).copy()

#Remove high Hemoglobins
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Hemoglobin")&(lab3["VALUENUM"]>25)].index).copy()

#Clean some glucose entries
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Glucose")&(lab3["VALUENUM"]>2000)&(lab3["HADM_ID"]==103500.0)].index).copy()
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Glucose")&(lab3["VALUENUM"]>2000)&(lab3["HADM_ID"]==117066.0)].index).copy()

#Clean too high levels of Potassium
lab3=lab3.drop(lab3.loc[(lab3["LABEL"]=="Potassium")&(lab3["VALUENUM"]>30)].index).copy()

In [12]:
lab3.to_csv(p_project + "/data/mimic3/processed/lab_processed.csv")